@model BeSpoked.Models.SaleCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Sale</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.HiddenFor(model => model.Sale.id)
                <div class="form-group">
                    @Html.LabelFor(model => model.Customers, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.SelectedCustomer, Model.Customers ?? new List<SelectListItem>(), "-Please select-")
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Products, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.SelectedProduct, Model.Products ?? new List<SelectListItem>(), "-Please select-")
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Salespeople, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.SelectedSalesperson, Model.Salespeople ?? new List<SelectListItem>(), "-Please select-")
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Sale.SaleDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Sale.SaleDate, new { @type = "date", @class = "form-control datepicker", @Value = Model.Sale.SaleDate.ToString("yyyy-MM-dd") })
                        @Html.ValidationMessageFor(model => model.Sale.SaleDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
