@model SalespersonDetailsViewModel

<h2>Comissions Report for @($"{Model.Salesperson.FirstName} {Model.Salesperson.LastName}")</h2>

    <div class="row">
        @Html.HiddenFor(model => model.Salesperson.id)
        @Html.DropDownListFor(model => model.ComissionReportViewModel.SelectedQuarter, Model.ComissionReportViewModel.QuarterValues)
        @Html.DropDownListFor(model => model.ComissionReportViewModel.SelectedYear, Model.ComissionReportViewModel.YearValues)
        <input type="submit" value="Generate Report" class="btn btn-primary" />
    </div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComissionReportViewModel.Sales.FirstOrDefault().SaleDate)
            </th>
            <th>Product</th>
            <th>Comission</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ComissionReportViewModel.Sales)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SaleDate)
                </td>
                <td>
                    @($"{item.Product.Manufacturer} {item.Product.Name}")
                </td>
                <td>
                    @((item.Product.SalePrice * (item.Product.ComissionPercentage/ 100)).ToString("C"))
                </td>

            </tr>
        }
    </tbody>
</table>
<hr />
<h5>Total Comission: @(Model.ComissionReportViewModel.Sales.Sum(item => item.Product.SalePrice * (item.Product.ComissionPercentage / 100)).ToString("C"))</h5>
