@model SalespersonDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Salesperson</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salesperson.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salesperson.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salesperson.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salesperson.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salesperson.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salesperson.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salesperson.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salesperson.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salesperson.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salesperson.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salesperson.TerminationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salesperson.TerminationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salesperson.Manager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salesperson.Manager)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Salesperson.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<hr/>
<h2>Comissions Report</h2>
<div class="form-group">
    @Html.LabelFor(model => model.Quarters, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.SelectedQuarter, Model.Quarters)
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sales.FirstOrDefault().SaleDate)
            </th>
            <th>Product</th>
            <th>Comission</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Sales)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SaleDate)
            </td>
            <td>
                @($"{item.Product.Manufacturer} {item.Product.Name}")
            </td>
            <td>
                @((item.Product.SalePrice * (item.Product.ComissionPercentage/ 100)).ToString("C"))
            </td>

        </tr>
        }
    </tbody>
</table>
<hr />
<h5>Total Comission: @(Model.Sales.Sum(item => item.Product.SalePrice * (item.Product.ComissionPercentage / 100)).ToString("C"))</h5>
