@model SalespersonDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Salesperson</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salesperson.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salesperson.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salesperson.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salesperson.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salesperson.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salesperson.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salesperson.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salesperson.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salesperson.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salesperson.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salesperson.TerminationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salesperson.TerminationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salesperson.Manager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salesperson.Manager)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<hr/>
@{
    @using (var f = Html.BeginForm())
    {
        @Html.Partial("ComissionReport", Model);
    }
    //Html.RenderPartial("ComissionReport");
}
